<template>
  <div class="GridListing">
    <h2>Grid view</h2>
    <div class="row">
      <div v-for="show in shows"
           v-bind:key="show.show.id"
           class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img :src="getImage(show)"
               class="bd-placeholder-img card-img-top"
               width="100%"
               :alt="show.show.name">
          <div class="card-body">
            <p class="card-text">
              {{ show.show.name }} ({{ show.show.language }})
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a :href="show.show.url" type="button" class="btn btn-sm btn-outline-secondary">View</a>
              </div>
              <small class="text-muted">Runtime: {{ show.show.runtime }}min</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//Listing should not be responsible for anything else then rendering items or some simple logic
export default {
  name: "GridListing",
  props: {
    shows: {
      type: Array
    },
  },
  methods: {
    getImage(show) {
      if (show?.show?.image?.medium) {
        return show.show.image.medium;
      }
      return 'https://via.placeholder.com/150';
    }
  }
}
</script>
