<template>
  <div class="ListListing">
    <h2>List view</h2>
    <div class="list-group">
      <a :href="show.show.url"
         class="list-group-item list-group-item-action"
         v-for="show in shows"
         v-bind:key="show.show.id">
        {{ show.show.name }}
        ({{ show.show.language }})
        <small>Runtime: {{ show.show.runtime }}min</small>
      </a>
    </div>
  </div>
</template>

<script>
//Listing should not be responsible for anything else then rendering items or some simple logic
export default {
  name: "ListListing",
  props: {
    shows: {
      type: Array
    },
  },
}
</script>
