<template>
  <div id="App">
    <h1>Demo app</h1>
    <hr>
    <button class="btn btn-info" type="button" @click="switchView">Switch view</button>
    <hr>
    <div class="input-group">
      <div class="input-group-prepend">
        <span id="app-query" class="input-group-text">Query</span>
      </div>
      <input aria-describedby="app-query"
             aria-label="Query"
             class="form-control"
             placeholder="Query"
             type="text"
             v-model="query"
             @keyup="resetSearch">
      <div class="input-group-prepend">
        <span id="app-itemsPerPage" class="input-group-text">Items per page</span>
      </div>
      <input aria-describedby="app-itemsPerPage"
             aria-label="Query"
             class="form-control"
             placeholder="3"
             type="number"
             v-model.number="itemsPerPage"
             @keyup="resetSearch">
    </div>
    <hr>
    <list-listing v-if="!gridViewSelected" v-bind:shows="shows"></list-listing>
    <grid-listing v-if="gridViewSelected" v-bind:shows="shows"></grid-listing>
    <infinite-loading :identifier="infiniteLoadingIdentifier" @infinite="infiniteLoadingHandler"></infinite-loading>
  </div>
</template>

<script>
import ListListing from "@/components/ListListing";
import GridListing from "@/components/GridListing";
import InfiniteLoading from "vue-infinite-loading";
import {getShowsByQuery} from "@/api/Shows.Api";

export default {
  name: "App",
  components: {
    GridListing,
    ListListing,
    InfiniteLoading
  },
  data() {
    //Top level parent app holds global state and distributes data because this is very simple app
    //Normally, you want to use vuex or some other common store pattern
    return {
      query: "",
      infiniteLoadingIdentifier: +new Date(),
      itemsPerPage: 3,
      page: 1,
      shows: [], //This is the only data source that child components should listen to
      gridViewSelected: true,
      searchTimer: 0
    }
  },
  methods: {
    switchView() {
      this.gridViewSelected = !this.gridViewSelected;
    },
    infiniteLoadingHandler($state) {
      if (this.query.trim().length < 2) {
        $state.complete();
        return;
      }
      getShowsByQuery(
          this.query,
          this.page,
          this.itemsPerPage
      ).then((newShows) => {
        if (newShows.length > 0) {
          this.page += 1;
          this.shows.push(...newShows);
          $state.loaded();
        } else {
          $state.complete();
        }
      });
    },
    resetSearch() {
      if (this.searchTimer) {
        clearTimeout(this.searchTimer);
        this.searchTimer = null;
      }
      this.searchTimer = setTimeout(() => {
        //Reset everything and update infinite scroll identifier
        this.page = 1;
        this.shows = [];
        this.infiniteLoadingIdentifier += 1;
      }, 1000);
    }
  },
  created() {
    //Fetch and preset from query params, if any
    if (this.$route.query?.q) {
      this.query = this.$route.query.q;
    }
    if (this.$route.query?.currentItemsPerPage) {
      this.itemsPerPage = this.$route.query.currentItemsPerPage;
    }
  },
}
</script>
